@model WebApplication3.Models.Orderr

@{
    ViewData["Title"] = "addorder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-left:150px;margin-top:100px">
<h1>addorder</h1>

<h4>Orderr</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="addorder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliAddress" class="control-label"></label>
                <input asp-for="DeliAddress" class="form-control" />
                <span asp-validation-for="DeliAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverName" class="control-label"></label>
                <input asp-for="ReceiverName" class="form-control" />
                <span asp-validation-for="ReceiverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverPhone" class="control-label"></label>
                <input asp-for="ReceiverPhone" class="form-control" />
                <span asp-validation-for="ReceiverPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalbill" class="control-label"></label>
                <input asp-for="Totalbill" class="form-control" />
                <span asp-validation-for="Totalbill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</div>