@model WebApplication3.Models.Orderr

@{
    ViewData["Title"] = "Editorder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editorder</h1>

<h4>Orderr</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editorder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliAddress" class="control-label"></label>
                <input asp-for="DeliAddress" class="form-control" />
                <span asp-validation-for="DeliAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverName" class="control-label"></label>
                <input asp-for="ReceiverName" class="form-control" />
                <span asp-validation-for="ReceiverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverPhone" class="control-label"></label>
                <input asp-for="ReceiverPhone" class="form-control" />
                <span asp-validation-for="ReceiverPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalbill" class="control-label"></label>
                <input asp-for="Totalbill" class="form-control" />
                <span asp-validation-for="Totalbill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

