@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor


@{
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString(WebApplication3.Controllers.ProductController.CARTKEY);
    if (jsoncart != null)
    {
        var cart = JsonConvert.DeserializeObject<List<Cart>>(jsoncart);
        <a style="text-decoration:none;color:black" asp-route="cart">(@cart.Count)</a>

    }
}