@{
    ViewData["Title"] = "Đăng kí";
    
}
<div class="containerr">
    <div class="saiup">
        <div class="saiuplep">
            <img src="img/loginimg.PNG" style="border-radius: 15px;width: 100%;overflow: hidden;height: 500px;object-fit: fill;" alt="">
        </div>
        <div class="saiuprai">
            <h1 style="font-family: 'Oswald', sans-serif;">Đăng kí</h1>
            <input type="text" placeholder="Họ và Tên">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Mật khẩu"><br>
            <button><a asp-action="Login"></a> ĐĂNG KÍ</button>
            <br>
            <a asp-action="Login">Đã có tài khoản? Nhấn để đăng nhập</a>
        </div>
    </div>
</div>