@{
    ViewData["Title"] = "Về ý nghĩa hoa ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="containerr relati">
    <div class="background"></div>
    <div class="text-product">
        <h1 style="font-family: 'Oswald', sans-serif;">Về ý nghĩa hoa </h1>
        <p style="font-family: 'Oswald', sans-serif;">Hoa đẹp - rẻ - ý nghĩa</p>
    </div>
</div>
<hr>
<div class="h-50"></div>
<div class="containerr">
    <div class="promo">
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo1.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa giấy</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales metus diam, a efficitur odio sodales vitae. Morbi vulputate rutrum nunc, a commodo ipsum gravida pharetra. Integer molestie placerat erat, non porta est pharetra eu. Duis ultrices, felis nec facilisis ornare, nisl mi tincidunt eros, non tempor diam tellus vel dolor. Mauris quis sapien quis sapien volutpat pretium eget quis mi. Integer viverra tempor metus, vitae semper velit sagittis sit amet. Ut a porta diam, sed dignissim nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut neque ipsum</p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo2.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa Cúc</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales metus diam, a efficitur odio sodales vitae. Morbi vulputate rutrum nunc, a commodo ipsum gravida pharetra. Integer molestie placerat erat, non porta est pharetra eu. Duis ultrices, felis nec facilisis ornare, nisl mi tincidunt eros, non tempor diam tellus vel dolor. Mauris quis sapien quis sapien volutpat pretium eget quis mi. Integer viverra tempor metus, vitae semper velit sagittis sit amet. Ut a porta diam, sed dignissim nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut neque ipsum</p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo3.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa hướng dương</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales metus diam, a efficitur odio sodales vitae. Morbi vulputate rutrum nunc, a commodo ipsum gravida pharetra. Integer molestie placerat erat, non porta est pharetra eu. Duis ultrices, felis nec facilisis ornare, nisl mi tincidunt eros, non tempor diam tellus vel dolor. Mauris quis sapien quis sapien volutpat pretium eget quis mi. Integer viverra tempor metus, vitae semper velit sagittis sit amet. Ut a porta diam, sed dignissim nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut neque ipsum</p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo1.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa Tulip</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales metus diam, a efficitur odio sodales vitae. Morbi vulputate rutrum nunc, a commodo ipsum gravida pharetra. Integer molestie placerat erat, non porta est pharetra eu. Duis ultrices, felis nec facilisis ornare, nisl mi tincidunt eros, non tempor diam tellus vel dolor. Mauris quis sapien quis sapien volutpat pretium eget quis mi. Integer viverra tempor metus, vitae semper velit sagittis sit amet. Ut a porta diam, sed dignissim nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut neque ipsum</p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo2.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa mai</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales metus diam, a efficitur odio sodales vitae. Morbi vulputate rutrum nunc, a commodo ipsum gravida pharetra. Integer molestie placerat erat, non porta est pharetra eu. Duis ultrices, felis nec facilisis ornare, nisl mi tincidunt eros, non tempor diam tellus vel dolor. Mauris quis sapien quis sapien volutpat pretium eget quis mi. Integer viverra tempor metus, vitae semper velit sagittis sit amet. Ut a porta diam, sed dignissim nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut neque ipsum</p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo3.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa hồng</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales metus diam, a efficitur odio sodales vitae. Morbi vulputate rutrum nunc, a commodo ipsum gravida pharetra. Integer molestie placerat erat, non porta est pharetra eu. Duis ultrices, felis nec facilisis ornare, nisl mi tincidunt eros, non tempor diam tellus vel dolor. Mauris quis sapien quis sapien volutpat pretium eget quis mi. Integer viverra tempor metus, vitae semper velit sagittis sit amet. Ut a porta diam, sed dignissim nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales metus diam, a efficitur odio sodales vitae. Morbi vulputate rutrum nunc, a commodo ipsum gravida pharetra. Integer molestie placerat erat, non porta est pharetra eu. Duis ultrices, felis nec facilisis ornare, nisl mi tincidunt eros, non tempor diam tellus vel dolor. Mauris quis sapien quis sapien volutpat pretium eget quis mi. Integer viverra tempor metus, vitae semper velit sagittis sit amet. Ut a porta diam, sed dignissim nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut neque ipsum. </p>
            </div>
        </div>

    </div>
</div>