@{
    ViewData["Title"] = "Về chúng tôi ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="containerr relati">
    <div class="background"></div>
    <div class="text-product">
        <h1 style="font-family: 'Oswald', sans-serif;">Về chúng tôi</h1>
        <p style="font-family: 'Oswald', sans-serif;">Hoa đẹp - rẻ - ý nghĩa</p>

    </div>
</div>
<hr>
<div class="video-banner">
    <div class="text-video">
        <h2>Chúng tôi yêu hoa và mang tình yêu vào từng sản phẩm.</h2>
        <p>Fiorello là một website chuyên cung cấp dịch vụ điện hoa, quà tặng... chuyên nghiệp đến khắp các tỉnh, thành phố trên cả nước. Với Thông điệp "Flower Delivery Expert", chúng tôi hướng đến một dịch vụ chuyên nghiệp trong việc truyền tải những thông điệp, cảm xúc của người tặng đến người nhận.</p>
    </div>
    <div class="video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hLMvr7UKJ0g" title="Hoayeuthuong.com - Một ngày làm việc của chúng tôi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
<hr>

<div class="containerr">
    <div class="text-expert">
        <h1 style="font-size: 3rem;">Đội ngũ chuyên gia</h1>
        <p style="font-size: 1.5rem;">
            Một sự pha trộn hoàn hảo của sự sáng tạo, năng lượng, giao tiếp, hạnh phúc và tình yêu. Hãy để chúng tôi sắp xếp một nụ cười cho bạn.
        </p>
    </div>
    <div class="experts">
        <div class="exp">
            <img src="img/expert.png" alt="">
            <div class="exp-info">
                <h3>
                    Trọng Bùi
                </h3>
                <p style="color:#afafaf;font-weight: lighter;">Quản lí</p>
            </div>
        </div>
        <div class="exp">
            <img src="img/expert.png" alt="">
            <div class="exp-info">
                <h3>
                    Trọng Bùi
                </h3>
                <p style="color:#afafaf;font-weight: lighter;">Quản lí</p>
            </div>
        </div>
        <div class="exp">

            <img src="img/expert.png" alt="">
            <div class="exp-info">
                <h3>
                    Trọng Bùi
                </h3>
                <p style="color:#afafaf;font-weight: lighter;">Quản lí</p>
            </div>
        </div>
        <div class="exp">
            <img src="img/expert.png" alt="">
            <div class="exp-info">
                <h3>
                    Trọng Bùi
                </h3>
                <p style="color:#afafaf;font-weight: lighter;">Quản lí</p>
            </div>
        </div>

    </div>
    <hr />
</div>