@{
    ViewData["Title"] = "Khuyến mãi ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="containerr relati">
    <div class="background"></div>
    <div class="text-product">
        <h1 style="font-family: 'Oswald', sans-serif;">Chương trình khuyến mãi</h1>
        <p style="font-family: 'Oswald', sans-serif;">Hoa đẹp - rẻ - ý nghĩa</p>
    </div>
</div>
<hr>
<div class="h-50"></div>
<div class="containerr">
    <div class="promo">

        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo1.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa Tết giảm giá</h1>
                <p>Giảm giá hoa tết 10%. Đến cửa hàng để nhận thêm ngập tràn ưu đãi. </p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo2.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa Tết giảm giá 2</h1>
                <p>Giảm giá hoa tết 10%. Đến cửa hàng để nhận thêm ngập tràn ưu đãi. </p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo3.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa Tết giảm giá 3</h1>
                <p>Giảm giá hoa tết 10%. Đến cửa hàng để nhận thêm ngập tràn ưu đãi. </p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo1.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa Tết giảm giá 4</h1>
                <p>Giảm giá hoa tết 10%. Đến cửa hàng để nhận thêm ngập tràn ưu đãi. </p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo2.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa Tết giảm giá 5</h1>
                <p>Giảm giá hoa tết 10%. Đến cửa hàng để nhận thêm ngập tràn ưu đãi. </p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo3.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa Tết giảm giá 6</h1>
                <p>Giảm giá hoa tết 10%. Đến cửa hàng để nhận thêm ngập tràn ưu đãi. </p>
            </div>
        </div>
        <div class="promo-item">
            <div class="promo-img">
                <img src="../img/promo1.jpg" alt="">
            </div>
            <div class="promo-text">
                <h1>Hoa Tết giảm giá 7</h1>
                <p>Giảm giá hoa tết 10%. Đến cửa hàng để nhận thêm ngập tràn ưu đãi. </p>
            </div>
        </div>
    </div>
</div>